.showcase {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 40px;

  @media (max-width: 768px) {
    padding: 2rem 20px;
  }
}

.showcaseHeader {
  display: grid;
  gap: 2rem;
  align-items: center;
  grid-template-columns: auto 1fr;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  h2 {
    margin: 0;
  }
}
