.crewGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 16px;
  margin-top: 24px;
}

.crewMember {
  p:first-child {
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  p:last-child {
    font-size: 0.9rem;
    opacity: 0.85;
    margin: 0;
  }
}
