.scoreCircleContainer {
  position: relative;
  flex-shrink: 0;
  transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &.regular {
    width: 68px;
    height: 68px;

    .scoreCircle {
      width: 68px;
      height: 68px;
    }
  }

  &.small {
    width: 50px;
    height: 50px;

    .scoreCircle {
      width: 50px;
      height: 50px;
    }

    .scoreTrack,
    .scoreProgress {
      stroke-width: 6;
    }

    .scoreText {
      font-size: 1rem;
    }
  }

  .scoreCircle {
    transform: rotate(-90deg);
  }

  .scoreBg {
    fill: #081c22;
  }

  .scoreTrack {
    fill: none;
    stroke: #204529;
    stroke-width: 6;
  }

  .scoreProgress {
    fill: none;
    stroke-width: 6;
    stroke-linecap: round;
  }

  .scoreText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding-right: 0.25rem;

    sup {
      font-size: 0.55rem;
      vertical-align: super;
      position: absolute;
      top: 50%;
    }
  }
}
