@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --max-width: 1300px;
    --color-navy: #032541;
    --color-navy-dark: #052c65;
    --color-blue: #01b4e4;
    --color-white: #fff;
    --color-black: #000;
    --color-text: #212529;
    --color-text-muted: #acacac;
    --color-grey-light: #f8f9fa;
    --color-grey: #dee2e6;
    --color-grey-dark: #dbdbdb;
    --color-border: #e3e3e3;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --max-width: 1300px;
  --color-navy: #032541;
  --color-navy-dark: #052c65;
  --color-blue: #01b4e4;
  --color-white: #fff;
  --color-black: #000;
  --color-text: #212529;
  --color-text-muted: #acacac;
  --color-grey-light: #f8f9fa;
  --color-grey: #dee2e6;
  --color-grey-dark: #dbdbdb;
  --color-border: #e3e3e3;
}

body {
  margin: 0;
  font-family: var(--font-source-sans-3), sans-serif;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

button,
input,
select,
textarea {
  font-family: var(--font-source-sans-3), sans-serif;
}
