.default {
  cursor: pointer;
  font-size: 1rem;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid rgba(33, 37, 41, 0.2);
  color: var(--color-text);
  font-family: "Source Sans 3", sans-serif;
  background: transparent;
}

.language {
  padding: 3px 5px;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 3px;
  color: var(--color-white);
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  height: 26px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-navy);
  }
}

.reset {
  background: transparent;
  cursor: pointer;
  border: none;
  font-weight: 300;
  font-size: 1rem;
  color: var(--color-text);
  font-family: "Source Sans 3", sans-serif;
}
