.mobileNavbar {
  display: none;
  height: 60px;

  @media (max-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 20px;
    max-width: var(--max-width);
    margin: auto;
    background-color: var(--color-navy);
  }
}

.burgerBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.2rem;

  svg {
    width: 19px;
    height: 19px;
  }
}

.mobileLogo {
  display: block;

  img {
    height: 40px;
    width: auto;
  }
}

.mobileRight {
  display: flex;
  align-items: center;
  gap: 14px;
  color: var(--color-white);
}

.searchIcon svg {
  height: 18px;
  width: 18px;
  color: var(--color-blue);
}

.overlay {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;

  @media (min-width: 992px) {
    display: none;
  }
}

.drawer {
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
  width: 75%;
  background: rgba(3, 37, 65, 0.95);
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  padding: 20px;

  @media (min-width: 992px) {
    display: none;
  }
}

.drawerOpen {
  transform: translateX(0);
}
